a:link, a:visited
		{
			background-color: white;
			color: magenta;
			text-decoration: none;
			font-size: 23px;
			height: 50px;
			width: 130px;
			text-align: center;
			display: inline-block;
			font-family: 'Amatic SC', monospace;
		}

a:hover
		{
			color: white;
			background-color: white;
			text-decoration: underline;
		}

a:active
		{
			color: navy;
			background-color: lightgrey;
			text-decoration: underline;
		}
